<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<header>

</header>
<body>


    <!-- SIGN UP FORM -->
    {{#if loggedIn}}
    {{else}}
    <header>
                  <div class="container center-align">
        <img class="responsive-img" src="stylesheets/images/logo1.png">
        <p class="flow-text orange-text">Find your pet today!</p>

        <h3 class="orange-text accent-4 center-align ">Sign Up</h1>
      </header>
      <div class="container pt-60">
        <div class="row">
          <form class="col s12" action="#">
            <div class="row">
              <div class="input-field col s6">
                <input  type="text" class="validate">
                <label for="first_name">Username</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Full Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="pass" type="password" class="validate">
                <label for="pass">Password</label>
              </div>
              <div class="input-field col s6">
                <input id="c_pass" type="password" class="validate">
                <label for="c_pass">Confirm Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <label>
            <input type="checkbox" />
            <span>Remember Me</span>
            </label>
            <div class="row">
              <div class="col s12 mt-25 center-align"> 
                <button class="btn waves-effect waves-light pulse orange" type="submit">Register Now
                <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{/if}}

    <div class="container center-align">
        <p class="flow-text hide-on-small-only orange-text">Select a Species</p>
        <div class="row">
            <a href="./dogs" >
                <img class="col s6 m6 responsive-img circle" src="stylesheets/images/dog1.jpg"/>
            </a>
            <a href="./cats" >
                <img class="col s6 m6 responsive-img circle" src="stylesheets/images/cat1.jpg"/>
            </a>
    </div>
    </div>
    

</body> 
</html>