    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

<div class="container orange">
<form class="login-form tables">
  <div>
    <label for="username-login" class="white-text">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login" class="white-text">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="btn waves-effect waves-light pulse purple accent-4 white-text" type="submit">login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
