<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container orange"></div>

{{#if username}}
    <h2>{{username}}'s profile</h2>
    <table class="table">
    <tr>
        <td>Username:</td>
        <td>{{username}}</td>
    </tr>
   <tr>
        <td>Password:</td>
        <td>{{password}}</td>
    </tr>
     <tr>
        <td>Email</td>
        <td>{{email}}</td>
    </tr>
</body>
</html>